{% extends 'root.html' %}
{% block content %}
<h1>Administrator - Data Entry</h1>
<form method="post">
    {% csrf_token %}
    <h2>College</h2>
    <label for="college_name">College Name:</label>
    <input type="text" id="college_name" name="college_name"><br><br>
    <input type="submit" name="submit_college" value="Submit College">
    <h2>Department</h2>
    <label for="department_name">Department Name:</label>
    <input type="text" id="department_name" name="department_name"><br><br>
    <label for="college_select">College:</label>
    <select id="college_select" name="college_select">
        <option value="" selected disabled>Select College</option>
        {% for college in colleges %}
            <option value="{{ college.id }}">{{ college.name }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" name="submit_department" value="Submit Department">
</form>
{% endblock content%}