{% extends 'root.html' %}
{% block content %}
<section class="content">
    <h1 class="page-header text-center title"><b>Please be carefully on choosing your respective college and department</b></h1>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="alert alert-danger alert-dismissible" id="alert" style="display:none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="message"></span>
            </div>

            <form method="POST" id="ballotForm" action="{% url 'submit_ballot' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="college">College:</label>
                    <select id="college" name="college" class="form-control">
                        <!-- Render options for college selection based on the selected department -->
                        <!-- Example: -->
                        <option value="default">college</option>
                        <option value="college1">CoICT</option>
                        <option value="college2">CoET</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="department">Department:</label>
                    <select id="department" name="department" class="form-control">
                        <!-- Render options for department selection -->
                        <!-- Example: -->
                        <option value="default">Select your department</option>
                        <option value="department1">ETE</option>
                        <option value="department2">CSE</option>
                    </select>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</section>
{% endblock content %}
