{% extends 'root.html' %}

{% block content %}

<div class="container mt-5">
    <!-- <h1>College and Department Selection</h1>
    <form method="POST" id="selectionForm" action="{% url 'submit_ballot' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="collegeSelect">Select College:</label>
            <select class="form-control" id="collegeSelect" name="college">
                <option value="">--Select College--</option>
                {% for college in colleges %}
                    <option value="{{ college.id }}">{{ college.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="departmentSelect">Select Department:</label>
            <select class="form-control" id="departmentSelect" name="department">
                <option value="">--Select Department--</option>
                {% for department in departments %}
                    <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.college.auto_id }}" class="col-form-label">{{ form.college.label_tag }}</label>
            {{ form.college }}
        </div>
        <div class="form-group">
            <label for="{{ form.department.auto_id }}" class="col-form-label">{{ form.department.label_tag }}</label>
            {{ form.department }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    
</div>
<!-- Add this block at the end of your HTML template -->
<script>
    function loadDepartments() {
        const collegeId = $('#id_college').val();
        $('#id_department').empty();
        if (collegeId !== '') {
            $.ajax({
                url: '/get_departments/',  // Update this URL to match your Django URL pattern
                data: {
                    'college_id': collegeId
                },
                success: function(data) {
                    // Add the received options to the department dropdown
                    $('#id_department').html(data);
                }
            });
        }
    }
</script>


{% endblock content %}
